@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    

}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
/* nav */
.menu{
    height: 94px;
    background-color: #562EFF;
    display: flex;
    align-items: center;
}

.left{
    display: flex;
    align-items: center;
    padding-left: 168px;
    
}
.logo-name{
    padding-left: 16px;
}
.left img{
    width: 40.424px;
    height: 51px;
}
.logo-name h4{
    font-size: 24px;
    color: #FFF;
    font-weight: 500;
}

.right{
    display: flex;
    align-items: center;
    padding-left: 452px;
}

.pages{
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding-left: 36px;
}
.profile-img img{
    width: 51px;
    height: 51px;
    padding-left: 36px;
}


 /* nav */
hr{
    border: 1px solid #D1D1D1;
    width: 807px;
    margin-bottom: 30px;
    margin-left: 0px;

}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 40px 0px 40px 40px;
    border-radius: 5px;
    margin-top: 20px;
    
}
.section-title{
color: #562EFF;
font-size: 24px;
font-style: normal;
line-height: normal;
margin: 0px;
padding-bottom: 40px;
}
.player-name{
    padding-left: 16px;
    font-weight: 500;
}

.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    padding-bottom: 30px;
}
.player{
    display: flex;
    align-items: center;
    
}
.player img{
    height: 56px;
    width: 56px;
    
}

/* top blogs part */
.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 65px;

}
.blog{
    display: flex;
}
.blogs .thumbnail img{
    width: 180px;
    height: 117px;
}
.blog-info{
    margin-left: 15px;
}
.blog-title{
    font-size: 16px;
    font-weight: 500;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* latest course */
.course-title{
    font-weight: 500;
    font-size: 16px;
}
.course-author{
    color: #ED6B4F;
    font-size: 14px;
}
.banner img{
    width: 240px;
    height: 120px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #EBEBEB;
}
.course-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.digits{
    color: #A2A2A2;
}
.duration{
    color: #FF4A60;
    background-color: #FFE4E8;
    border-radius: 14px;
    padding: 5px;
}
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    width: 252.423px;
    
}
.course{
    background-color: #FFF;
    filter: drop-shadow(0px 5.342289924621582px 13.35572338104248px rgba(0, 0, 0, 0.05));
    border-radius: 20px;
    padding: 12px;
}

/* for mobile device */

@media only screen and (max-width:688px){
    
    .menu{
        width: 100%;
    }
    .right, .left{
        padding: 0px;
    }
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: 1fr;
    }
    .player, .blog, .course{
        flex-direction: column;
    }
}

